body{
  font-family: 'Roboto', sans-serif;
  background:white;

}
button, input[type='submit']{
  background: $secondary-color;
  border:none;
  color:white;
  text-transform: uppercase;
  padding: 10px 15px;

}
.container{
  margin-top: 80px;
  max-width: $max-width;
  margin:100px auto;
  text-align: center;
  .logo{
    margin: 0 auto;
    max-width: 200px;
  }

}
