{% extends 'base.html.twig' %}

{% block title %}New Password{% endblock %}

{% block body %}
    <h1>Create new Password</h1>

    {{ include('password/_form.html.twig') }}

    <a href="{{ path('password_index') }}">back to list</a>
{% endblock %}
