{% extends 'base.html.twig' %}

{% block title %}New Crew{% endblock %}

{% block body %}



    <h1>Create new crewRole</h1>

    {{ form_start(form) }}



    <div class="selected"></div>
    {{ form_end(form) }}


{% endblock %}
