
{% block search %}
<div id="searchform">
  <div class="search-input">
<input type="search" placeholder="Search for users" onkeyup="showMe(this)"> <span class="icon-search">  <img class="logo_small" src=" {{asset('images/search.svg')}}"></span>
</div>
  <div id=users_results>
    <div id="createNew" class="hide"></div>
  </div>
</div>
{% endblock %}
<script>
var path='{{ path('user_new') }}';
//  console.log(path);
$.ajax({
  url: path,
  context: document.body
}).done(function(data) {
  $( '#createNew' ).html( data );
});
var url='{{ path('user_search') }}';
var users;
var results=[];
  $.ajax({
    dataType: "json",
    url:url,
    success: function(data){
      return users = data;
    }
  });

  function showMe(e) {
    results = [];
    selected =[];

    if(e.value.length>2){

      $('#crew_users .userItem input').each(function(){
        selected.push($(this).val());

      })
      for(let i in users){
        if( users[i]['username'].includes(e.value)){
            results.push(users[i]);
        }
      }

    }

      for (let x in selected){

        for(let i in results){
          if(results[i]['id']=== Number(selected[x])){
            results.splice(i,1)
          }
        }
      }

    displayResults();
  }


  $(document).on('click','#users_results .userItem',function(e){
    e.preventDefault();
    $('#searchform input[type="search"]').val('');
    $(this).appendTo($('.addedUsers'));
    $('#users_results .userItem').remove();
  })
  $(document).on('click','.addedUsers .userItem',function(e){
    e.preventDefault();
   $(this).remove();
  })
  $(document).on('click','.userItem select',function(e){
   // Do something
   e.stopPropagation();
});



</script>
